services:
  one:
    build: ./services/code
    image: one:1.0
    container_name: one
    devices:
      - /dev/dri:/dev/dri
      - /dev/snd:/dev/snd
    env_file: ["./.env"]
    volumes:
      - "/tmp/.X11-unix:/tmp/.X11-unix"
      - "${HOME}/${PROJECTS_DIR}:/workspace/projets"
      - "${HOME}/${VSCODE_PATH}:/workspace/.vscode"
      - "${HOME}/${GIT_CONFIG_PATH}:/root/.gitconfig:ro"
      - "${HOME}/.config/git:/root/.config/git:ro"
      - "${SSH_AUTH_SOCK}:/ssh-agent:ro"
      - "~/.fonts:${HOME}/.fonts:ro"
    environment:
      - SSH_AUTH_SOCK=/ssh-agent
    group_add:
      - audio
      - video
    network_mode: "host"