services:
  one:
    build:
      context: ./services/code
      args:
        HOME: ${HOME}
    image: one:1.0
    container_name: one
    devices:
      - /dev/dri:/dev/dri
      - /dev/snd:/dev/snd
    env_file: ["./.env"]
    volumes:
      - "/tmp/.X11-unix:/tmp/.X11-unix"
      - "${HOME}/${HOST_DIR}:${HOME}/projets"
      - "${HOME}/${VSCODE_PATH}:${HOME}/.vscode"
      - "${HOME}/${GIT_CONFIG_FILE}:${HOME}/.gitconfig:ro"
      - "${HOME}/${SSH_DIR}:/root/${SSH_DIR}:ro"
      - "${HOME}/.config/git:/root/.config/git:ro"
      - "/run/user/${UID}/keyring/ssh:/run/user/0/keyring/ssh"
      - "~/.fonts:${HOME}/.fonts:ro"
    group_add:
      - audio
      - video
    network_mode: "host"